/* THIS IS FOR THE COASTER CREDITS IMAGE ON SCREEN */
.park-logoSection {
    display: flex;
    justify-content: center;
    margin-top: -115px;
    padding-bottom: 15px;
}
.park-logoDiv {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    align-content: center;

}

/* THIS IS FOR THE PARKS INFORMATION */
.park-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.park-selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.park {
    display: flex;
    flex-direction: row;
}
.park-content {
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.park-card {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: auto;
    height: auto;
    border: 4px solid #000000;
    border-radius: 15px;
}
.park-detailBtnDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}

/* SET THE STYLING FOR LABELS AND VALUES ON ALL OF THE PARK CARDS */
/* STYLING FOR PARK NAME */
.park-nameDiv {
    display: flex;
    flex-direction: row;
}
.park-parkName {
    color: #9D0307;
    padding-right: 5px;
    padding-bottom: 3px;
}
/* STYLING FOR PARK CITY */
.park-cityDiv {
    display: flex;
    flex-direction: row;
}
.park-parkCity {
    color: #9D0307;
    padding-right: 5px;
    padding-bottom: 3px;
}
/* STYLING FOR PARK STATE */
.park-stateDiv {
    display: flex;
    flex-direction: row;
}
.park-parkState {
    color: #9D0307;
    padding-right: 5px;
    padding-bottom: 3px;
}
/* STYLING FOR PARK COUNTRY */
.park-countryDiv {
    display: flex;
    flex-direction: row;
}
.park-parkCountry {
    color: #9D0307;
    padding-right: 5px;
    padding-bottom: 3px;
}