nav{
    display: flex;
    background-image: url('/src/images/cedarPoint01.jpg');
    overflow: hidden;
    background-repeat: no-repeat;
    width: 100%;
}
.nav-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 200px;
}
.nav-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 20px;
}
.nav-link-parks{
    display: flex;
    padding-right: 100px;
}
.nav-link-coasters{
    display: flex;
    padding-right: 100px;
}
.nav-link-profile{
    display: flex;
    padding-right: 100px;
}