*{
    margin: 0;
}

.footer {
    display: grid;
    position:relative;
    top: 60px;
    width: 100%;
    height: 50px;
}
.footer-main{
    display: grid;
    grid-template-areas: 'left center right';
}
.footer-copyrite {
    display: flex;
    width: 100%;
    align-items: center;
}
.footer-profileLinks{
    display: grid;
    grid-area: right;
    align-content: center;
    grid-template-columns: 33% 33% 33%;
    justify-items: end;
}
.footer-imageProfileImage, .footer-imageGitHubImage{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 40px;
    height: 40px;
}
.footer-imageLinkedInImage{
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    width: 44px;
    height: 44px;
}

